---
layout: layouts/level-play.pug
---

// Styles for ADHD level:
style.
    /* load script font and custom styles */
    @import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
    @import url('/assets/styles/level-adhd.css');

// Content

#in-game
    #title
        h1 Warning

    #clock
        p 01:24:35

    //- content page with order
    article#main-page
        | !{content}
        span#order

    #note
        h4= note_title
        p !{note_text}

    #switches
        each letter, index in ['A', 'B']
            label(for="switch"+letter)= letter
            button(
                id="switch"+letter 
                title="switch "+letter 
                onclick=`adhd.toggleSwitch(this,${index})`
            )

    #bomb
        img#bomb-background(src="/assets/images/levels/bomb_body.png" alt="De Bom")
        #wires
            each wire, index in wires
                button(
                    onclick=`adhd.cutWire(${index})` 
                    data-color=code[wire.color]
                    data-style=code[wire.style] 
                    title=wire.color+' '+wire.style 
                )
                    img(src='/assets/images/levels/'+wire.image alt=wire.color+' '+wire.style)

    #popup
        .content
            p#time(data-original-text=popup_intro)= popup_intro
            p= popup_text
            button.secondary(onclick='adhd.hidePopUp()')= button_continue_text
            button.primary(onclick='adhd.stopGame()')= button_stop_text


#fail
    .container.center
        img(src='/assets/images/levels/explosion.jpg' alt='explosion')
        h2= fail_title
        p= fail_text
        .spacer
        button.button.back(onclick='adhd.retry()')= fail_button_text


// Script

script(data-src="/assets/js/level-adhd.js" type="text/javascript" data-load-script)