doctype html
html(lang=lang?lang:'en')
    include _includes/layouts/head.pug
    include _includes/mixins/level-mixins.pug
    body
        main#swup.container.large.padding
            .columns
                .level-image.animate-left
                    img(src=image alt=`Illustration of  ${title}`)
                .level-container.animate-right
                    if icon
                        .spacer
                        +level-bar(index)

                    h3= 'Level ' + index
                    h1= title

                    .spacer

                    article
                        | !{content}

                    .spacer

                    a(href=`/levels/${index}/play/`).button Start level